*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


}
header{
    background: #181818;
}
header img{
    width: 53px;
}
header .navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
header .logo {
    text-align: center;
    padding-top: 10px;
}

.contenedor-portada {
    width: 100%;
    height: 700px;
    background-image: url(../img/fondo-comida.png);
    background-size: 100%;
    animation: movimiento 10s linear infinite alternate;
    text-align: center;
    padding-top: 19%;
}
@keyframes movimiento{
    from{
        background-position: bottom left;
    }
    to{
        background-position: top right;
    }
}
.titulo-header{
    color: #fff;
    font-size: 80px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}
.bajada{
    color: #fff;
    margin-bottom: 0;
}
.bajada2{
    width: 50%;
    margin: auto;
    text-align: right;
    color: #fff;
    font-size: 35px;
}
.bajada2 p{
    font-family: 'Satisfy', cursive;
}
.contenedor-portada button{
    padding: 10px 20px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    transition: 0.5s;
}
.contenedor-portada button:hover{
    background: #fff;
    color: #000;
    transition: 0.5s;
}
.contenedor-clases {
    background-image: url(../img/.jpg);
    background-size: 100%;
    padding-bottom: 59px;
    position: relative;
    overflow: hidden;
}
.contenedor-clases .s {
    position: absolute;
    z-index: 0;
    font-family: 'Playfair Display', serif;
    font-size: 58px;
}
.contenedor-clases .utensilios{
    position: absolute;
    z-index: -1;
    top: -41px;
    left: -80px;
}
.contenedor-clases .utensilios-2 {
    position: absolute;
    z-index: -1;
    bottom: -208px;
    right: -82px;
    transform: rotate(180deg);
}
.contenedor-clases h2{
    padding-top: 60px;
    font-family: 'Playfair Display', serif;
}
.contenedor-clases h2, .contenedor-clases h3{
    text-align: center;
}
.contenedor-clases h3{
    font-size: 18px;
    margin-bottom: 20px;
}
.contenedor-clases hr{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;  
}
.contenedor-imagenes-clases{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    z-index: 5;
}
.contenedor-imagen{
    width: 300px;
    position: relative;
    overflow: hidden;
}
.contenedor-imagen img{
    width: 100%;
}
.cuadro-color{
        width: 300px;
        opacity: 1;
        height: 255px;
        background: rgba(0, 0, 0, 0.65);
        position: absolute;
        top: 0px;
        left: 300px;
        transition: 0.5s ease;
}
.contenedor-imagen:hover .cuadro-color{
    top: 0px;
    left:0px;
    transition: 0.5s ease;
}
.contenedor-imagen h4{
    position: absolute;
    font-family: 'Playfair Display', serif;
    top: 30px;
    color: #fff;
    left: 110px;
    opacity: 0;
    transition: 0.5s ease;
}
.contenedor-imagen:hover h4{
    opacity: 1;
    transition: 0.5s ease;
}
.contenedor-imagen p{
    position: absolute;
    top: 100px;
    text-align: center;
    color: #fff;
    padding: 2px 10px;
    opacity: 0;
    transition: 0.5s ease;
}
.contenedor-imagen:hover p{
    opacity: 1;
    transition: 0.5s ease;
}
.contenedor-imagen button{
    position: absolute;
    top: 300px;
    left: 110px;
    background: none;
    border: 1px solid  #fff;
    padding: 4px 30px;
    color: #fff;
    transition: 0.5s ease;
}
.contenedor-imagen button:hover{
    color: #000;
    background: #fff;
    transition: 0.5s ease;
}
.contenedor-imagen:hover button{
    top: 190px;
    transition: 0.5s ease;
}