

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: "QuinchoScript_PersonalUse";
    src: url(../fonts/modern.ttf);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #000;
}

.botones-menu .button--round-s{
	border:none;
	border-radius: none;
	font-size: 18px;
	padding: 5px;
	font-family: "QuinchoScript_PersonalUse"
	background-color:#fff;

}

.botones-menu .button--wayra:hover::before{
	border-radius: none!important;
	background-color:#fff;
	color: #000;	
}

.button--round-s {
    border-radius: 0px;
    padding: 10px !important;
    margin: 0px;
}
.parallax-window {
    min-height: 100px;
    background: transparent;
    height: 300px;
}
.parallax-window h1{
	margin-top: 40px;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
}
.jumbotron {
    background-color:none!important;}

.primer-fondo{
	background-color:#000;
	box-shadow: -webkit-box-shadow: 1px 5px 39px 4px rgba(0,0,0,0.57);
-moz-box-shadow: 1px 5px 39px 4px rgba(0,0,0,0.57);
box-shadow: 1px 5px 39px 4px rgba(0,0,0,0.57);
}
.primer-fondo h2{
	text-align: center;
	margin-top: 70px;
	color:#fff;
	font-family: "QuinchoScript_PersonalUse"; 
	font-size: 40px;	
	text-shadow: 3px 3px #303030, 0 0 5px #6B6B6B;

}
.interpretacion-img{
	text-align: center;
}
.interpretacion-img img{
	width: 30%;
	align-content: center;
	margin-bottom: 20px;
}
.boton-navegacion{
	text-align: center;
	margin-top: 40px;
}
.boton-flecha {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
  	text-decoration: none;
  	padding: 20px;
  	color:#000;
  	font-size: 20px;
  	text-align: center;

}

.boton-flecha:hover {
  background: #898989;
  background-image: -webkit-linear-gradient(top, #898989, #4C4C4C);
  background-image: -moz-linear-gradient(top, #898989, #4C4C4C);
  background-image: -ms-linear-gradient(top, #898989, #4C4C4C);
  background-image: -o-linear-gradient(top, #898989, #4C4C4C);
  background-image: linear-gradient(to bottom, #898989, #4C4C4C);
  text-decoration: none;
  color: #fff;
}

.caja1{
  border-right: 5px solid #fff;
  text-align: right;
  position: relative;
  margin-top: 50px;
}

.caja1:before {
  content: '';
  position: absolute;
  top:7%;
  width: 40px;
  height: 40px;
  background: #fff;
  right: 0;
  border-radius: 50%;  
  box-shadow: 0 0 0 8px #afdcf8;  
  text-align: center; 
  left: 97%; 
}

.caja1 h2 {
  color: #000;
  border-bottom: 2px solid #fff;
}

.circulo-caja:before{
  width: 40px;
  height: 40px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #46a4da;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #afdcf8;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -25px;}

.caja-info{
  background-color: red;
  padding: 8px;
  text-align: justify;
  border-radius: 5%;
}
