*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@font-face {
font-family: vendetta;
src: url(../fonts/Vendetta.otf);

}

.portada{
    background-image:url(../img/11-blur.png);
    background-size:100%;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    animation: movimiento 40s linear infinite alternate;
}
@keyframes movimiento{
    from{
        background-position: bottom right;
    }
    to{
        background-position: top left;
    }
}
.texto_portada p, button{
    font-family: 'Rajdhani', sans-serif;
}
.titulo_portada {
    font-family: "vendetta";
    font-size: 46px;
    text-shadow: 10px 10px 10px #00000091;
}

.gradient_portada {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#11215e+34,e8006c+100 */
background: #11215e; /* Old browsers */
background: -moz-linear-gradient(-45deg, #11215e 34%, #e8006c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #11215e 34%,#e8006c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #11215e 34%,#e8006c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11215e', endColorstr='#e8006c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
    opacity: 0.7;
    height: 100vh;
    left: 0px;
}
.texto_portada{
    color: #fff;
    width: 40%;
    margin:auto;
    z-index: 4;
}
.texto_portada button {
    width: 80%;
    height: 25px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 3%;
    transition: 0.3s ease;
    border: 1px solid #fff;
    box-shadow: 4px 5px 10px #00000085;
}
.texto_portada button:hover{
    background-color: #fff;
    transition: 0.3s ease;
    color: #454fc2;
}
.imagen_portada{
    width: 40%;
    margin: auto;
    z-index: 4;
}

.imagen_portada img {
    width: 100%;
    box-shadow: 0px 0px 20px 1px #0000009e;
}

.grilla {
    text-align: center;
    padding-top: 5%;
    position: relative;
    overflow: hidden;
    height: 667px;
}
.grilla h1{
 font-family: 'Rajdhani', sans-serif;
}
.color_degrade_texto{
background: linear-gradient(yellow,red);
  -webkit-background-clip: text;
  color: transparent;  
}
.grilla h3 {
    font-family: "vendetta";
    font-size: 35px;
    margin-top: -30px;
    margin-bottom: 3%;
    margin-left: 13%;
    color: transparent;
}
.tarjeta {
    width: 515px;
    margin: auto;
    height: 355px;
    border: 1px solid #ccc;
    border-radius: 4%;
    padding: 24px;
    text-align: center;
    margin-bottom: 3%;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}
.contenedor_tarjetas {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.gradient_targeta {
    background: #11215e;
    background: -moz-linear-gradient(-45deg, #11215e 34%, #e8006c 100%);
    background: -webkit-linear-gradient(-45deg, #11215e 34%,#e8006c 100%);
    background: linear-gradient(135deg, #11215e 34%,#e8006c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11215e', endColorstr='#e8006c',GradientType=1 );
    width: 100%;
    height: 392px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 0.3s ease;
}
.tarjeta h2 {
    margin-top: 14%;
    text-align: left;
    position: relative;
    font-family: "vendetta";
}
.tarjeta:hover p {
    margin-top: 2%;
    opacity: 1;
    transition: 0.7s ease;
    position: relative;
    color: #fff;
}
.tarjeta:hover {
    box-shadow: 0px 0px 20px #000000b0;
    border: 1px solid #00000080;
    transition: 0.3s ease;
}
.tarjeta:hover .gradient_targeta{
    opacity: 0.9;
    transition: 0.3s ease;
}
.tarjeta p{
    margin-top: 20%;
    opacity: 0;
    transition: 0.7s ease;
     font-family: 'Rajdhani', sans-serif;
}
.circulo {
    background: rgba(0,0,0,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,10,21,1) 11%, rgba(0,35,73,0.56) 38%, rgba(0,52,107,0.17) 56%, rgba(0,52,107,0) 64%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,1)), color-stop(11%, rgba(0,10,21,1)), color-stop(38%, rgba(0,35,73,0.56)), color-stop(56%, rgba(0,52,107,0.17)), color-stop(64%, rgba(0,52,107,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,10,21,1) 11%, rgba(0,35,73,0.56) 38%, rgba(0,52,107,0.17) 56%, rgba(0,52,107,0) 64%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,10,21,1) 11%, rgba(0,35,73,0.56) 38%, rgba(0,52,107,0.17) 56%, rgba(0,52,107,0) 64%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,1) 0%, rgba(0,10,21,1) 11%, rgba(0,35,73,0.56) 38%, rgba(0,52,107,0.17) 56%, rgba(0,52,107,0) 64%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%, rgba(0,10,21,1) 23%, rgba(0, 35, 73, 0.88) 42%, rgba(0, 52, 107, 0.63) 55%, rgba(0, 52, 107, 0) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00346b', GradientType=1 );
    width: 1300px;
    height: 1300px;
    position: absolute;
    right: -571px;
    bottom: -630px;
}
.astronauta {
    animation: astronauta 5s linear infinite alternate;
    position: absolute;
    width: 26%;
    z-index: 4;
}
@keyframes astronauta{
    from{
        top:50px;
    }
    to{
        top:90px;
    }
}
img.lunas {
    width: 30%;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    right: -46px;
        animation: 190s rotate linear infinite;
}
@keyframes rotate {from {transform: rotate(0deg);}
to {transform: rotate(360deg);}}
@-webkit-keyframes rotate {from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}}

.estrellitas {
    position: absolute;
    bottom: 0;
}
img.lunas-chica {
    width: 30%;
    position: absolute;
    z-index: 0;
    bottom: 0px;
    right: -46px;
        animation: 90s giro linear infinite;
}
@keyframes giro {from {transform: rotate(0deg);}
to {transform: rotate(360deg);}}
@-webkit-keyframes giro {from {-webkit-transform: rotate(0deg);}
to {-webkit-transform: rotate(360deg);}}

.estrellitas {
    position: absolute;
    bottom: 0;
}




@media only screen and (min-width: 375px) {
    .portada, .gradient_portada{
    height: 650px;
    }
    .portada {
        background-size: 180%;
    }
    .texto_portada {
        width: 100%;
        text-align: center;
    }
    .titulo_portada {
    font-size: 2em;
    line-height: 4px;
    margin-bottom: 9%;
}
    .imagen_portada{
        width: 100%;
    }
    .grilla {
    height: 555px;
    }
    .astronauta {
        width: 39%;
    }
    .circulo{
        width: 1000px;
        height: 1000px;
        right: -493px;
        bottom: -495px;
    }
    img.lunas {
    width: 55%;
    right: -46px;
}
    img.lunas-chica {
        width: 55%;
        right: -46px;
    }
    .estrellitas {
    width: 138%;
    left: 0;
}
}