*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.portada{
    background-image:url(../img/11-blur.png);
    background-size:100%;
    height: 100vh;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    animation: movimiento 40s linear infinite alternate;
}
@keyframes movimiento{
    from{
        background-position: bottom right;
    }
    to{
        background-position: top left;
    }
}


.gradient_portada {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#11215e+34,e8006c+100 */
background: #11215e; /* Old browsers */
background: -moz-linear-gradient(-45deg, #11215e 34%, #e8006c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #11215e 34%,#e8006c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #11215e 34%,#e8006c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11215e', endColorstr='#e8006c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 100%;
    opacity: 0.7;
    height: 100vh;
    left: 0px;
}
.texto_portada{
    color: #fff;
    width: 40%;
    margin:auto;
    z-index: 4;
}
.texto_portada button {
    width: 80%;
    height: 25px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    margin-top: 3%;
    transition: 0.3s ease;
    border: 1px solid #fff;
}
.texto_portada button:hover{
    background-color: #fff;
    transition: 0.3s ease;
    color: #454fc2;
}
.imagen_portada{
    width: 40%;
    margin: auto;
    z-index: 4;
}

.imagen_portada img {
    width: 100%;
    box-shadow: 0px 0px 20px 1px #0000009e;
}

.grilla{

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+53,f9bdf8+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffffff 53%, #f9bdf8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffffff 53%,#f9bdf8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffffff 53%,#f9bdf8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9bdf8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.tarjeta {
    width: 350px;
    margin: auto;
    height: 245px;
    border: 1px solid #ccc;
    border-radius: 4%;
    padding: 24px;
    text-align: center;
    margin-bottom: 3%;
    position: relative;
    overflow: hidden;
        transition: 0.3s ease;
}
.contenedor_tarjetas {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}
.gradient_targeta {
    background: #11215e;
    background: -moz-linear-gradient(-45deg, #11215e 34%, #e8006c 100%);
    background: -webkit-linear-gradient(-45deg, #11215e 34%,#e8006c 100%);
    background: linear-gradient(135deg, #11215e 34%,#e8006c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11215e', endColorstr='#e8006c',GradientType=1 );
    width: 100%;
    height: 249px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 0.3s ease;
}
.tarjeta h2 {
    margin-top: 14%;
    text-align: left;
    position: relative;
}
.tarjeta:hover p {
    margin-top: 2%;
    opacity: 1;
    transition: 0.7s ease;
    position: relative;
    color: #fff;
}
.tarjeta:hover {
    box-shadow: 0px 0px 20px #000000b0;
    border: 1px solid #00000080;
    transition: 0.3s ease;
}
.tarjeta:hover .gradient_targeta{
    opacity: 0.9;
    transition: 0.3s ease;
}
.tarjeta p{
    margin-top: 20%;
    opacity: 0;
    transition: 0.7s ease;
}