

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{

    background: rgba(224,224,224,1);
    background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,224,224,1)), color-stop(52%, rgba(255,255,255,1)), color-stop(60%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff', GradientType=0 );
}
.telefonos{
    background: rgba(71,182,165,1);
    background: -moz-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,182,165,1)), color-stop(100%, rgba(33,109,175,1)));
    background: -webkit-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: -o-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: -ms-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: linear-gradient(to right, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b6a5', endColorstr='#216daf', GradientType=1 );
    height: 10px;

}
.navbar-inverse{
    background: #f3f3f3;
    border: none;
}
.contenedor-carrusel .gradiente-slider{
    background: rgba(71,182,165,1);
    background: -moz-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(71,182,165,1)), color-stop(100%, rgba(33,109,175,1)));
    background: -webkit-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: -o-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: -ms-linear-gradient(left, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    background: linear-gradient(to right, rgba(71,182,165,1) 0%, rgba(33,109,175,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b6a5', endColorstr='#216daf', GradientType=1 );
    width: 100%;
    height: 587px;
    position: absolute;
    top: 0px;
    opacity: 0.6;
}
.contenedor-carrusel button{
    background: none;
    color: #fff;
    padding: 10px 50px;
    border: 1px solid #fff;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 0.5s;
}
.contenedor-carrusel button:hover{
    background: #fff;
    color: #8bdce1;
    transition: 0.5s;
}
.contenedor-carrusel .carousel-caption{
    text-shadow: none;
    bottom: 154px;
}
.contenedor-carrusel .carousel-caption h1{
    font-size: 40px;
}
.contenedor-carrusel .carousel-caption p{
    margin-bottom: 20px;
}
.contenedor-caracteristicas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 24px;
    justify-content: space-between;
}
.contenedor-caracteristicas img{
    width: 100%;
}
.contenedor-caracteristicas .titulo{
    display: flex;
}
.contenedor-caracteristicas .titulo h2{
    color: #43bfc7;
    margin-left: 10px;
}
.contenedor-caracteristicas .titulo hr{
 border-top: 2px solid #43bfc7;
 width: 30%;   
 margin-top: 35px;
}
.contenedor-caracteristicas .texto {
    width: 654px;
    text-align: right;
    padding: 10px 40px;
    margin: auto;
}
.contenedor-caracteristicas .texto button {
    width: 120px;
    height: 120px;
    margin-left: 20px;
    margin-top: 10px;
    background: none;
    border: 1px solid #43bfc7;
    border-radius: 50%;
    transition: 0.5s;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.contenedor-caracteristicas .texto button p {
    position: absolute;
    color: #43bfc7;
    top: 47px;
    left: 33px;
    opacity: 1;
    transition: 1s;

}
.contenedor-caracteristicas .texto button:hover p{
    display: none;
    opacity: 0;
    transition: 0.3s;
}
.contenedor-caracteristicas .texto button i{
    position: absolute;
    font-size: 60px;
    color: #fff;
    top: 127px;
    left: 32px;
    transition: 0.5s;
    opacity: 0;
}
.contenedor-caracteristicas .texto button:hover i{
    transition: 0.5s;
    opacity: 1;
    position: absolute;
    top: 31px;
}
.contenedor-caracteristicas .texto button:hover{
    background: #43bfc7;
    transition: 0.5s;
}
.contenedor-contendidos {
    overflow: hidden;
    height: auto;
    position: relative;
}
.contenedor-gradient1{
background: rgba(224,224,224,1);
background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,224,224,1)), color-stop(36%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff', GradientType=0 );
    height: 889px;
    transform: rotate(5deg);
    position: absolute;
    top: 80px;
    width: 120%;
    left: -38px;
    z-index: -40;
}
.contenedor-gradient2{
background: rgba(224,224,224,1);
background: -moz-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,224,224,1)), color-stop(36%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 36%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#ffffff', GradientType=0 );
    height: 889px;
    transform: rotate(-5deg);
    margin-top: 63px;
    width: 120%;
    position: absolute;
    z-index: -12;
}

.contenedor-titulo {
    display: flex;
    width: 64%;
    margin: auto;
    color: #989898;
    margin-top:87px;
}
.contenedor-titulo hr {
    width: 270px;
    border-top: 2px solid #989898;
    margin-top: 33px;
}
.contenedor-contendidos .texto-bajada{
    text-align: center;
    color: #b5b5b5;
}
.contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
}
.contenedor-imagenes .link{
    width: 300px;
    position: relative;
    overflow: hidden;
}
.contenedor-imagenes .link img{
    width: 100%;
}
.contenedor-imagenes .link .gradiente-link{
background: rgba(70,181,166,1);
background: -moz-linear-gradient(left, rgba(70,181,166,1) 0%, rgba(34,109,175,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(70,181,166,1)), color-stop(100%, rgba(34,109,175,1)));
background: -webkit-linear-gradient(left, rgba(70,181,166,1) 0%, rgba(34,109,175,1) 100%);
background: -o-linear-gradient(left, rgba(70,181,166,1) 0%, rgba(34,109,175,1) 100%);
background: -ms-linear-gradient(left, rgba(70,181,166,1) 0%, rgba(34,109,175,1) 100%);
background: linear-gradient(to right, rgba(70,181,166,1) 0%, rgba(34,109,175,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b5a6', endColorstr='#226daf', GradientType=1 );
width: 100%;
height: 224px;
position: absolute;
z-index: 1;
top: 0;
opacity: 0;
transition: 0.5s ease;
}
.link .contenido{
    z-index: 3;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80px;
    transition: 0.5s ease;
    opacity: 0;
}
.link:hover .contenido{
    top: 55px;
    transition: 0.5s ease;
    opacity: 1;
}
.link img{
    filter: grayscale(100%);
}
.contenedor-imagenes a .bordes:before{
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 0%;
    height:2px ;
    background: #fff;
    transition: all 0.7s;
    box-shadow: 0 -182px #fff;
    z-index: 2;
}
.contenedor-imagenes a .bordes:after{
    content: "";
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 2px;
    height:0%;
    background: #fff;
    transition: all 0.5s;
    box-shadow: 254px 0 #fff;
    z-index: 2;
}
.contenedor-imagenes a:hover .bordes:after{
    height: 82%;
    transition: all 0.7s;
}
.contenedor-imagenes a:hover .bordes:before{
    width: 85%;
    transition: all 0.5s;
}
.contenedor-imagenes a:hover .gradiente-link{
    opacity: 0.7;
    transition: 0.5s;
}
.contenedor-vermas{
    display: flex;
    width: 64%;
    margin: auto;
    margin-top: 30px;
}
.contenedor-vermas hr{
    width: 270px;
    border-top: 1px solid #43bfc7;
    margin-top: 33px;
}
.contenedor-vermas button{
    border: 1px solid #43bfc7;
    background: none;
    color:#43bfc7;
    border-radius: 30px; 
    padding: 10px 50px;
    transition: 0.5s ease;
}
.contenedor-vermas button:hover{
    background: #43bfc7;
    color:#fff;
    border-radius: 30px; 
    padding: 10px 50px;
    transition: 0.5s ease;
}